services:
  - type: web
    name: fitness-backend
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.18.0
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://ADMIN:Dyi5HSNTHNdiV0QD@test.doecbiu.mongodb.net/fitness
      - key: JWT_SECRET
        value: r6s9ji8ngmqfartokml04g
      - key: EMAIL_HOST
        value: smtp.gmail.com
      - key: EMAIL_PORT
        value: 587
      - key: EMAIL_SECURE
        value: "false"
      - key: EMAIL_USER
        value: santanupanda445@gmail.com
      - key: EMAIL_PASSWORD
        value: "hidu xvac vqxd unpo"
      - key: EMAIL_FROM
        value: '"Fitness App" <santanupanda445@gmail.com>'